   
<div class="row">
	<!-- COLUMN ONE -->
	<div class="" >

		<div ng-show="loadingEvents"  style="text-align:center;"><img src="images/ellipsis.svg"></div>
				
		<div class="movie-card panel"  ng-repeat="event in events" ng-show=" item.ratings.critics_score > 85" id="profile-widget">
			<div class="movie-panel">
				<img ng-src="{{ item.image.url }}" width="390px">
			</div>
			<div class="panel-body">
				<div class="media">
					<div class="media-body" style="text-align:center">
						<h2 class="media-heading">{{ event.title }} </h2>
						{{ event.description(0,120) }}..
						

					</div>
				</div>
			</div>
			
			
			
			<div class="actions panel-footer">
               <div class="btn-group btn-group-justified">
                  <a class="btn btn-default" role="button" ng-href="{{event.url}}"><i class="fa fa-clock-o"></i> Showtimes</a>
                  <a class="btn btn-default share" role="button" ng-href="https://twitter.com/intent/tweet?text=Going+to+see+{{event.title}}+http%3A%2F%2FHebuKwenda.com"><i class="fa fa-twitter"></i> Share</a>
                  <a class="btn btn-default highlight" role="button"><i class="fa fa-heart"></i> {{event.calendar_count}}</a>
               </div>
            </div>
		</div>
				
				
		<center id="signature">Built with love by <a href="http://twitter.com/heri">heri</a></center>
				
				
	</div>
      

</div>
